@import url('https://fonts.googleapis.com/fonts?family=Lekton:400,700&display=swap');

/* Fonts  */
@font-face {
  font-family: 'Love Craft';
  src: url('./fonts/Love\ Craft.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Love Craft';
  src: url('./fonts/Love\ Craft\ Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

/* Colors */
:root {
  --color-yellow: #FECE00;
  --color-blue: #016DDE;
  --color-green: #00A151;
  --color-pink: #FFA2AC;
  --color-red: #FB3D09;
  --color-text: #000000;
  --bg-primary: #FEF3D5;
  --bg-secondary: #EEEEE3;

  --font-display: 'Love Craft', fantasy;
  --font-body: 'Lekton', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-primary);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--font-display);
  margin-bottom: 1rem;
}

.welcome-page {
  background-image: url('./assets/welcome-page-bg.svg');
  background-size: 100vw auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.welcome-text {
  font-family: var(--font-display);
  font-size: 50px;
  font-weight: 400;
  color: var(--color-pink);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  margin-bottom: -40px;
}

.title-container {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-family: var(--font-display);
  font-size: 70px;
  font-weight: 400;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  margin-top: 0;
}

.title .blue {
  color: var(--color-blue);
}

.title .green {
  color: var(--color-green);
}

.title .red {
  color: var(--color-red);
}

.title .yellow {
  color: var(--color-yellow);
}