/* Fonts  */
@font-face {
  font-family: 'Love Craft';
  src: url('./fonts/Love\ Craft.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Love Craft';
  src: url('./fonts/Love\ Craft\ Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

/* Colors */
:root {
  --color-yellow: #FECE00;
  --color-blue: #016DDE;
  --color-green: #00A151;
  --color-pink: #FFA2AC;
  --color-red: #FB3D09;
  --color-text: #000000;
  --bg-primary: #FEF3D5;
  --bg-secondary: #EEEEE3;

  --font-display: 'Love Craft', fantasy;
  --font-body: 'Lekton', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-primary);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--font-display);
  margin-bottom: 1rem;
}